.register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  form {
    margin-left: -20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: 1;

    /* @keyframes rule */
    @keyframes move {
      /* keyframe */
      from {
        opacity: 0%;
        margin-left: 100rem;
      }

      /* keyframe */
      to {
        opacity: 100%;
        margin-left: -20rem;
      }
    }

    h1 {
      font-size: 4rem;
      color: #222;
    }

    h3 {
      margin: 0.8rem 0 3rem 0;
      font-size: 1.5rem;
      font-weight: 400;
      color: #222;
    }

    h4 {
      display: flex;
      flex-direction: row;
      margin: 1.5rem 0 0.5rem 0;
      font-size: 1.2rem;
      color: #111;

      &:after {
        position: relative;
        left: 2px;
        top: -2px;
        content: "*";
        color: rgb(255, 114, 98);
      }
    }

    input {
      //position: relative;
      border: none;
      border-bottom: 0.1px solid #aaa;
      margin-bottom: 1rem;
      padding: 10px 0px;
      font-size: 1.5rem;

      &:focus-visible {
        outline: none;
        border: none;
        border-bottom: 0.1px solid rgb(51, 223, 166);
      }
    }

    .cancle {
      margin: 2rem 1rem 0 0;
      font-weight: bold;
      font-size: 1.5rem;
      width: 7rem;
      height: 3.2rem;
      background: #ddd;
      border-radius: 1.6rem;
      border: #fff;

      &:hover {
        cursor: pointer;
      }
    }

    .ensure {
      margin: 2rem 1rem 0 0;
      font-weight: bold;
      font-size: 1.5rem;
      width: 7rem;
      height: 3.2rem;
      background: rgb(11, 187, 120);
      color: #fff;
      border-radius: 1.6rem;
      border: #fff;

      &:hover {
        cursor: pointer;
      }
    }

    h5 {
      color: rgb(238, 67, 67);
      font-size: 0.8rem;
      font-weight: bold;
      margin: 0.2rem 0 0 0;
    }

    h6 {
      color: rgb(250, 43, 43);
      height: 1rem;
      margin: 0.2rem 0 0 0;
    }

    .btn_group {
      margin-top: 2rem;
    }
  }
}
